.product-slider .swiper-pagination {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}
.price {
  color: var(--blue-color);
  font-family: "Poppins", sans-serif;
}
.add-cart {
  background: var(--blue-color);
  color: #fff;
  transition: 0.3s ease-in-out;
}
.add-cart:hover {
  color: var(--blue-color);
  background: none;
  border: 1px solid var(--blue-color);
}
@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
@media screen and (max-width: 550px) {
  .card-heading {
    font-size: 17px !important;
  }
  .card-text {
    font-size: 15px !important;
  }
}
