* {
  font-family: "Poppins", sans-serif;
  --swiper-theme-color: #0769b2;
  --blue-color: #0769b2;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
}
@font-face {
  font-family: gothamblack;
  src: url(./Assets/fonts/gothamblack.ttf);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.btn,
.form-control,
.form-select {
  box-shadow: none !important;
}
.resize-none {
  resize: none;
}
.cursor {
  cursor: pointer;
}
.gotham {
  font-family: "gothamblack", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.primary-color {
  color: #282828;
}
.primary-bg {
  background-color: #0769b2;
}
.blue-color {
  color: var(--blue-color);
}
.nav-link:hover {
  color: #282828 !important;
  transition: 0.5s ease-in-out;
}
.swiper-button-prev,
.swiper-button-next {
  color: #282828 !important;
}
.swiper-pagination-bullet {
  background: #000;
}
.see-more-btn {
  background: none;
  border: none;
  outline: none;
  color: var(--blue-color);
  transition: 0.3s ease;
}
.see-more-btn:hover {
  text-decoration: underline;
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.blogSection .card:hover,
.card.prod-card:hover {
  transform: translateY(-15px);
}
@media screen and (max-width: 500px) {
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
